.imageHoverLive {
   color: white;
   position: absolute;
   top:   10px ;
   right: 10px ;
   background: var(--mainColor);
   padding: 3px 10px;
   border-radius: 20px;
   transition: 0.4s;
   opacity: 0;   }
.imageHoverParagraph {
   color: white;
   position: absolute;
   bottom:   10px ;
   right: 0px ;
   transition: 0.4s;
   opacity: 0;
   display: flex;
   justify-content: center;
   gap: 10px;
   width: 100%;   }
.imageHoverParagraph span {
   background: var(--mainColor);
   border-radius: 20px;
   padding: 3px 10px;   }

.parentHover:hover .imageHoverLive {
   opacity: 1;   }
.parentHover:hover .imageHoverParagraph {
   opacity: 1;   }


