header .nav-link:hover {
   color: var(--mainColor);   }
header .profileLink {
   display: flex;
   gap: 5px;
   align-items: center;
   background: rgba(51, 51, 51, 0.6) ;
   border-radius: 50px;
   padding: 5px 10px;  }
header .nav-link:focus {
   color: var(--mainColor) !important;   }
/* .navbar-toggler-icon {
   background-color: var(--mainColor) ;
   padding: 1rem !important;
   border-radius: 1rem !important; 
} */